h1 {
    color: black;
    text-align: center;
    background-color: aqua;
}

label {
    margin: 0 auto;

}

input {
    margin: 0 auto;
    text-align: center;
    display: block;
}

body {
    background-color: burlywood;
}